* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* my styles */

button {
  margin: 0 20px;
  width: 11em;
  height: 50px;
  background: darksalmon;
  color: black;
  text-transform: uppercase;
}

button:disabled {
  margin: 0 20px;
  background: gray;
  color: black;
}

input {
  height: 50px;
  text-align: center;
  font-size: large;
}

.boxElement {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;

  font-size: x-large;
  text-transform: uppercase;
  font-weight: 700;
}
